PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/homestay
# You can use MONGO_URL instead of MONGO_URI if you prefer.
# MONGO_URL=mongodb+srv://username:password@cluster.mongodb.net/homestay
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=7d
ADMIN_NAME=Admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=123456
